fastapi
uvicorn
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
python-dotenv
google-genai

httpx
reportlab
Faker
email-validator
mongomock

psycopg2-binary
pypdf
gunicorn
